* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#logo {
    vertical-align: middle;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    font-weight: bolder;
}

.centro {
    margin-left: 25%;
    margin-right: 25%;
}

nav {
    padding: 20px 46px;
}

button {
    border: 2px solid gray;
    border-radius: 4px;
}

#celeste {
    background-color: lightskyblue;
    border-color: lightskyblue;
    color: white;
}

ul {
    list-style-type: none;
}

.check , .cross {
    text-align: center;
    display: inline-block;
    height: 26px;
    width: 26px;
    border: 1px solid black;
    border-radius: 50%;
}

.check {
    color: green;
    border-color: green;
}

.cross {
    color: red;
    border-color: red;
}

.editorial , .goals , .recruiting , .mobile , .website , .sales {
    padding: 8px 14px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 0.6em;
}

.editorial {
    background-color: lightskyblue;
}

.goals {
    background-color: blueviolet;
}

.recruiting {
    background-color: green;
}

.mobile {
    background-color: orange;
}

.website {
    background-color: fuchsia;
}

.sales {
    background-color: rgb(81, 128, 0);
}